<div class="contentfluid">
  <div class="row">
      <div class="col-sm-8 col-sm-offset-2 heading">
          Landing Page ...
          <br/>
          More is just down the corner!
          <br/>
          Wait for more !
      </div>
  </div>
</div>
